<ion-header>
  <ion-toolbar>
    <ion-title>{{ job?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="job">
  <h2>{{ job.title }}</h2>
  <p>Company: {{ job.company }}</p>
  <p>Location: {{ job.location }}</p>
  <p>{{ job.description }}</p>
  <ion-button *ngIf="userRole === 'employee'" expand="full" (click)="applyForJob()">Apply for this Job</ion-button>

  <!-- Display applications if the user is an employer -->
  <ion-list *ngIf="userRole === 'employer'">
    <ion-list-header>
      <ion-label>Candidates</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let application of job.applications">
      <ion-label>
        <h2>{{ application.name }}</h2>
        <p>Skills: {{ application.skills }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-content *ngIf="!job">
  <p>Loading job details...</p>
</ion-content>
