<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" [(ngModel)]="profile.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Age</ion-label>
    <ion-input type="number" [(ngModel)]="profile.age"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Highest Education</ion-label>
    <ion-input type="text" [(ngModel)]="profile.education"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Education Institution</ion-label>
    <ion-input type="text" [(ngModel)]="profile.institution"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Skills</ion-label>
    <ion-textarea [(ngModel)]="profile.skills"></ion-textarea>
  </ion-item>

  <ion-button expand="full" (click)="saveProfile()">Save</ion-button>

  <ion-list>
    <ion-list-header>
      <ion-label>Applied Jobs</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let job of appliedJobs">
      <ion-label>
        <h2>{{ job.title }}</h2>
        <p>{{ job.company }} - {{ job.location }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
